#canvas {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr); */
}


/* FONTS */

@font-face {
    font-family: Fira-Regular;
    src: url(/fonts/FiraCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: Monument-Grotesk-Regular;
    src: url(/fonts/ABCMonumentGroteskMono-Regular-Trial.otf);
    src: url(/fonts/ABCMonumentGroteskMono-Regular-Trial.woff);
}

p {
    /* font-family: "Fira-Regular"; */
    font-family: "Monument-Grotesk-Regular";
    font-size: 70px;
    font-weight: 400;
    color: black;
    margin: 0;
}
